$green-l1: #39ee4e;
$green: #2ecc40;
$green-d1: #20bd2d;
$green-d2: #178524;

$chartreuse:#7efd00;
$chartreuse-d1:#40ee00;
$chartreuse-d2:#0fde00;

$yellow-l1: rgb(247, 247, 0);
$yellow: #ffe200;
$yellow-d1: #ffc500;
$yellow-d2: #ff8c00;

$orange-l1: #ff9f0e;
$orange: #fd7e14;
$orange-d1: #f9760b;
$orange-d2: #ff5500;

$red-l1: #ff0000;
$red: #eb0606;
$red-d1: #d30505;
$red-d2: #b30000;

$light-blue-l1: #83f1ff;
$light-blue: #81e0fe;
$light-blue-d1: #15c8ff;
$light-blue-d2: rgb(20, 181, 250);

$aqua-l1: #6affff;
$aqua: #00ffff;
$aqua-d1: #00eaff;
$aqua-d2: #00d0ff;

$turq-l1: #35ffeb;
$turq: #40e0d0;
$turq-d1: #2bcdbc;
$turq-d2: #1cbaaa;

$blue-l1: #00aaff;
$blue: #1762ff;
$blue-d1: #024ef2;
$blue-d2: #003cf0;

$indigo-l1: #7805f3;
$indigo: #6800d4;
$indigo-d1: #5b04b8;
$indigo-d2: #4e01a1;

$purple-l1: #ac00ac;
$purple: #800080;
$purple-d1: #740074;
$purple-d2: #690169;

$magenta-l1: #fd97ff;
$magenta: #FB4EFF;

$dark-pink-l1: #ee308f;
$dark-pink: #d63384;
$dark-pink-d1: #ca2d7c;
$dark-pink-d2: #b8266f;

$pink-l1: #ff3593;
$pink: #ff0077;
$pink-d1: #e8006c;
$pink-d2: #cf0061;

$black-l2: #292929;
$black-l1: #171717;
$black: #000;

$dark-gray-l2: #565656;
$dark-gray-l1: #353535;
$dark-gray: #272727;
$dark-gray-d1: #24292f;

$dark-bgray: #1e2326;;

$gray-l1: #95a0aa;
$gray: #6c757d;
$gray-d1: #616970;
$gray-d2: #555b5f;

$white: #ffffff;
$white-d1: #eeeeee;
$white-d2: #d8d8d8;

$dark-blue-l1: #010028;
$dark-blue: #0d001a;
// $turq-2-l1: #00ffd0;
// $turq-2-l1: #00FFD1;

$new-1: #CDFF7A;
$new-2: #C2C600;

$dark-purple:#2D0065;


// --bs-blue: #0d6efd;
//     --bs-indigo: #6610f2;
//     --bs-purple: #6f42c1;
//     --bs-red: #dc3545;
//     --bs-orange: #fd7e14;
//     --bs-yellow: #ffc107;
//     --bs-green: #198754;
//     --bs-teal: #20c997;
//     --bs-cyan: #0dcaf0;
//     --bs-black: #000;
//     --bs-white: #fff;
//     --bs-gray: #6c757d;
//     --bs-gray-dark: #343a40;
//     --bs-gray-100: #f8f9fa;
//     --bs-gray-200: #e9ecef;
//     --bs-gray-300: #dee2e6;
//     --bs-gray-400: #ced4da;
//     --bs-gray-500: #adb5bd;
//     --bs-gray-600: #6c757d;
//     --bs-gray-700: #495057;
//     --bs-gray-800: #343a40;
//     --bs-gray-900: #212529;
//     --bs-primary: #0d6efd;
//     --bs-secondary: #6c757d;
//     --bs-success: #198754;
//     --bs-info: #0dcaf0;
//     --bs-warning: #ffc107;
//     --bs-danger: #dc3545;
//     --bs-light: #f8f9fa;
//     --bs-dark: #212529;