@import '../colors/colors';
[tx="green"] {
    color: $green !important;
}
[tx="chartreuse"] {
    color: $chartreuse !important;
}
[tx="yellow"] {
    color: $yellow !important;
}
[tx="orange"] {
    color: $orange !important;
}
[tx="red"] {
    color: $red !important;
}
[tx="light-blue"] {
    color: $light-blue !important;
}
[tx="aqua"] {
    color: $aqua !important;
}
[tx="turq"] {
    color: $turq !important;
}
[tx="blue"] {
    color: $blue !important;
}
[tx="indigo"] {
    color: $indigo !important;
}
[tx="purple"] {
    color: $purple !important;
}
[tx="dark-pink"] {
    color: $dark-pink !important;
}
[tx="pink"] {
    color: $pink !important;
}
[tx="dark-gray"] {
    color: $dark-gray !important;
}
[tx="gray"] {
    color: $gray !important;
}
[tx="white"] {
    color: $white !important;
}
[tx="black"] {
    color: $black !important;
}