.rd-none {
    border-radius: 0 !important;
}
.rd-sm {
    border-radius: 0.25em !important;
}

.rd-md {
    border-radius: 0.5em !important;
}

.rd-lg {
    border-radius: 1em !important;
}
.rd-xl {
    border-radius: 2em !important;
}

.rd-all {
    border-radius: 100em !important;
}