.b-menu {
    // Sub-componentes
    &>[bx-title] {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 1rem;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;

        &:after {
            content: "\002B";
            font-weight: bold;
            float: right;
            margin-left: 0.5rem;
        }

        &[active],
        &:hover {
            background-color: #ccc;
        }

        &[active]:after {
            content: "\2212";
        }
    }

    &>[bx-content] {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        background-color: white;
        transition: .2s;

        &[opened] {
            max-height: 100%;
        }
    }

    // Atributos
    &[rounded] {
        &>*:first-child {
            border-radius: 1rem 1rem 0 0;
        }

        &>*:nth-last-child(2) {
            transition: none !important;

            &:not([active]) {
                border-radius: 0 0 1rem 1rem;
                transition: .4s .4s !important;
            }
        }
        &>*:last-child {
            border-radius: 0 0 1rem 1rem;
        }
    }

    &[titles*="border"]>[bx-title]{
        border: 1px solid #777;
    }
    &[titles*="shadow"]>[bx-title]{
        box-shadow: 0px -15px 30px -20px rgba(0, 0, 0, 0.4) inset;
    }
}