.app-btn {
    background: var(--bg);
    border: none;
    border-radius: var(--border-radius);
    color: var(--color);
    border: var(--border-width) solid transparent;
    padding: var(--padding);
    transition: .2s ease-in-out;


    &.-border {
        background: none;
        border: var(--border-width) solid var(--bg);

        &:hover {
            border-color: var(--bg-hover);
        }
    }

    &:hover:not(.-border) {
        background: var(--bg-hover);

    }
}

// Example
// .app-btn {
//     --border-width: 2px;
//     --bg: red;
//     --border-radius: 4px;
//     --color: #fff;
//     --padding: 0.3rem 1rem;
// --bg-hover:blue;
// }