.tx{
    &-1{
        font-size: 16px;
    }
    &-2{
        font-size: 18px;
    }
    &-3{
        font-size: 20px;
    }
    &-4{
        font-size: 22px;
    }
    &-5{
        font-size: 24px;
    }
    &-6{
        font-size: 30px;
    }
    &-7{
        font-size: 34px;
    }
    &-8{
        font-size: 38px;
    }
    &-9{
        font-size: 42px;
    }
    &-10{
        font-size: 48px;
    }
}